<div class="row mb-3{% if field.errors %} has-errors{% endif %}">
  <div class="col-sm-3 text-lg-end">
    <label class="col-form-label d-inline-block{% if field.field.required %} required{% endif %}">{{ field.label }}</label>
  </div>
  <div class="col pt-2">
    {% for radio in field %}
    <div class="form-check">
      <input class="form-check-input" type="radio" name="{{ field.html_name }}" id="{{ radio.id_for_label }}"
             value="{{ radio.data.value }}"{% if radio.data.selected %} checked{% endif %}>
      <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
    </div>
    {% endfor %}
    {% if field.errors %}
      <div class="form-text text-danger">{% for error in field.errors %}{{ error }}{% if not forloop.last %}<br />{% endif %}{% endfor %}</div>
    {% endif %}
    {% if field.help_text %}<span class="form-text">{{ field.help_text|safe }}</span>{% endif %}
  </div>
</div>
